body {
    text-align:center;
}
nav {
display:flex;
justify-content: space-around;
align-items: center;
min-height: 10vh;
background-color: rgb(27, 175, 151);
color:white;
}
.nav-list {
    width:40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
h1 {
    color:blue;
}